{% load static %}



<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'participants/css/style.css' %}" />
    <script src="
https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js
"></script>
    <script type="text/javascript" src="{% static 'js/django_live_template.js' %}"></script>
  </head>
  <body>
    <style>
      /* Codepen Specific */

/* /end Leaderboard Results */
    </style>
  
  
    <div class="container-wrap">
      <section id="leaderboard">
        <nav class="ladder-nav">
          <div class="ladder-title">
          <h1>Eunoia Creo</h1>

          </div>
          <!-- <div class="ladder-search">
            <input type="text" id="search-leaderboard" class="live-search-box" placeholder="Search Team, Player..." />
          </div> -->
          <div class="">
            <img width="64px" src="{% static 'participants/img/logo.jpeg' %}"/>
          </div>
        </nav>
        <table id="rankings" class="leaderboard-results" width="100%">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Pen Name</th>
              <th>Scores</th>
              <!-- <th>P1</th>
              <th>P2</th>
              <th>Games Played</th> -->
              <!-- <th>PTS</th> -->
            </tr>
          </thead>
          <tbody>
            <!-- Load SCRIMcom Leaderboard Ranings -->
            <!-- <tr>
              <td>8</td>
              <td>Fnatic</td>
              <td>Sweden</td>
            </tr>
          </tbody> -->
        </table>
      </section>
  </body>
  <script>
const rankingsBody = document.querySelector("#rankings > tbody");
let ranking;
let timeOut = null;
let first = false;
loadRankings()
function loadRankings () {
    $.ajax({
      type:"GET",
      url:"/data",
      success:function(response){
        console.log({response})
        if(JSON.stringify(ranking)!=JSON.stringify(response)){
          populateRankings(response)
        }
      },
      complete:function(data){
        clearTimeout(timeOut)
        timeOut = setTimeout(loadRankings,5000)
      }
    })
}
const items = ["full_name","pen_name","scores"]
// $(document).ready(function(){
//   alert("fj")
//   timeOut = setTimeout(loadRankings,5000)
//   // first = true;
// })
$(document).focus(function(){
  // if(first){
    
    timeOut =setTimeout(loadRankings,5000)
  // }
})
$(document).blur(function(){
  
  clearTimeout(timeOut)
  
})
function onVisibilityChanged() {
  console.log("in visiblity")
  if (document.hidden || document.mozHidden || document.webkitHidden || document.msHidden) {
    // The tab has lost focus
    console.log("time cleared")
    clearTimeout(timeOut);
    timeOut=null;
    
  }
  else{
    if(!timeOut){
      alert("you are back")
      timeOut = setTimeout(timeOut,5000)
    }
  }
}

function populateRankings (json) {
    // Populate Leaderboard
    rankingsBody.innerHTML="";
    json.forEach((row,index) => {
        const tr = document.createElement("tr");
        tr.setAttribute("bgcolor","#373737")
        const td = document.createElement("td");
          td.textContent = index+1;
          tr.append(td)
          rankingsBody.appendChild(tr);
        items.forEach(item=>{
          const td = document.createElement("td");
          td.textContent = row[item]
          tr.append(td)
        })
        rankingsBody.appendChild(tr);
    });
}

// document.addEventListener("DOMContentLoaded", () => { loadRankings (); });
// document.addEventListener("visibilitychange", onVisibilityChanged, false);
// document.addEventListener("mozvisibilitychange", onVisibilityChanged, false);
// document.addEventListener("webkitvisibilitychange", onVisibilityChanged, false);
// document.addEventListener("msvisibilitychange", onVisibilityChanged, false);
// document.addEventListener("focusout",()=>{
//   alert("")
//   clearTimeout(timeOut);
// })
// document.addEventListener("focusin",()=>{
//   timeOut = setTimeout(loadRankings,5000)
// })
// $("#search-leaderboard").keyup(function() {
//     var value = this.value;

//     $("table").find("tr").each(function(index) {
//         if (index === 0) return;

//         var if_td_has = false;
//         $(this).find('td').each(function () {
//             if_td_has = if_td_has || $(this).text().indexOf(value) !== -1; //Check if td's text matches key and then use OR to check it for all td's
//         });

//         $(this).toggle(if_td_has);

//     });
// });
  </script>
</html>